/* main css */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #04202e;
}

/* added Position because they were moving when we were scrolling down */

.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #04202e;
  color: #ffffff;
}

/* all of the header design settings */

.header h1 {
  display: inline-block;
  font-size: 36px;
}

.header section {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  position: static;
}

.header section ul {
  list-style-type: none;
}

.header section ul li {
  display: inline-block;
  margin-left: 25px;
}

/* details designing */

a {
  color: #ffffff;
  text-decoration: none;
}

/* paragraph font size */

p {
  font-size: 20px;
}

/* main info for the left size content */

.hero {
  height: 550px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  background-image: url("../images/main-pic.jpg");
  background-size: cover;
  background-position: center;
}

/* places/positions 3 categories/contents in the page */

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

.content {
  width: 75%;
  display: inline-block;
  margin-left: 30px;
}

/* adding font type, backgorund color etc.  */

.benefits {
  margin-left: 30px;
  padding: 30px;
  clear: both;
  float: left;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

.benefit-lan {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit-topics {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit-topics li {
  font-size: 20px;
}

.benefit-lan h3 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.benefit-topics h3 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.benefit-lan img {
  display: block;
  margin: 20px auto;
  max-width: 250px;
}

.benefit-topics img {
  display: block;
  margin: 20px auto;
  max-width: 250px;
}

/* right side of the page's content design */

.about-me {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.project {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.contact-me {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.about-me img {
  max-height: 200px;
}

.project img {
  max-height: 200px;
}

.contact-me img {
  max-height: 200px;
}

.contact-me p {
  color: black;
  font-weight: bold;
}

.about-me h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.project h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.contact-me h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* footer */

.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.footer h2 {
  font-size: 20px;
  color: #ffffff;
}
